@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.modals {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(153, 205, 50, 0.185);
    font-family: "Poppins", sans-serif;
}

.modal-content {
    background-color: yellow;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40rem;
    width: 30rem;
}