.projects {
  margin-top: 2rem;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.container-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-projects > h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid grey;
}

.display {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.showcase {
  position: relative;
  height: 250px;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  border-radius: 0.1rem;
}

.showcase img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  width: 250px;
}

.project-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-content-hover {
  display: flex;
  flex-direction: column;
}

.project-content-hover p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}

.project-content-button {
  text-align: center;
}

.project-content a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 12px;
}

.project-content a:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.showcase.ivondemand {
  background-color: #c1c8d2;
}

.showcase.tienlen {
  background-color: #844034;
}

.showcase.fuchsia {
  background-color: #ea0385;
}
