@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
  --header-bg-color: rgb(243, 243, 243);
  --header-text-color: rgb(54, 53, 53);
  --header-padding: 0 2rem;
  --border-color: rgba(192, 192, 192, 0.5);
  --title-color: black;
  --p-color: grey;
}

.dark,
.dark * {
  --header-bg-color: rgb(43, 42, 42);
  --header-text-color: rgb(255, 255, 255);
  --border-color: rgb(243, 243, 243);
  --title-color: rgb(248, 233, 233);
  --p-color: rgb(247, 245, 245);
}

.stars {
  background: url('./images/endless-constellation.svg');
  position: fixed;
  background-attachment: scroll;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  opacity: 0.04;
}

.stars.dark {
  background: none;
  background-color: rgb(46, 44, 44);;
  opacity: 1;
}

.container {
  font-family: "Lato", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow-x: none;
}

/* navigation */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: var(--header-bg-color);
  padding: var(--header-padding);
  border-bottom: 0.1rem solid var(--border-color);
}

.brand-logo {
  display: flex;
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--header-text-color);
}

.logo {
  font-family: Nothing You Could do;
  font-weight: 900;
  font-size: 2rem;
}

/* hamburger */
#nav-icon {
  position: relative;
  height: 50px;
  width: 35px;
  cursor: pointer;
}

#nav-icon span {
  position: absolute;
  top: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 5rem;
  border: 0.15rem solid var(--header-text-color);
}

#nav-icon span::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 0.15rem solid var(--header-text-color);
}

@keyframes moon {
}
/* title */
.intro {
  text-align: left;
  position: relative;
  padding-top: 2rem;
  margin-top: 2rem;
  white-space: nowrap;
  color: var(--title-color)
}

.smiley {
  position: absolute;
  opacity: 0.1;
  max-width: 7rem;
  z-index: -1;
  transform: translate(-2rem, -2rem);
}

.smiley.dark {
  opacity: 0.3;
}

.title h1 {
  font-size: clamp(2rem, 10vw, 4rem);
  letter-spacing: 2px;
}

.title h2 {
  font-size: clamp(1rem, 5vw, 2rem);
  letter-spacing: 1px;
}

.title h2 span {
  color: orange;
}

/* about me */
h2 {
  color: var(--title-color)
}

.about-me {
  color: var(--p-color);
  padding: 1rem;
}

.about-me span {
  color: orange;
}

.about-me div {
  margin: 1rem;
}

@media screen and (min-width: 730px) {
  .about-me {
    display: flex;
  }
}

/* my skills */
.skills {
  display: flex;
  justify-content: space-around;
}

.my-skills p {
  color: var(--p-color);
}

.skills-paragraph {
  padding: 1rem;
}

.skills div p {
  padding: 0.2rem;
}

/* contact */
.footer {
  top: 0;
  left: 0;
  width: 100%;
  border-top: 0.1rem solid var(--border-color);
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0;
  font-family: "Lato", sans-serif;
  align-items: center;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  margin-top: 0.5rem;
}

.footer div {
  padding: 1rem 0;
  text-align: center;
}

.footer-logo {
  font-family: Nothing You Could do;
  font-weight: 900;
  font-size: 2rem;
}

.location {
  letter-spacing: 2px;
}

.follow-us p a {
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--header-text-color);
}

@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding: var(--header-padding);
  }
}
