@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;

  --header-bg-color: rgba(8, 8, 8, 0.712);
  --header-text-color: white;
}

.stars {
  position: fixed;
  background-attachment: scroll;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.15;
  z-index: -1;
  opacity: 0.04;
}

.stars img {
  height: 100vh;
  width: 100vw;
}

.container {
  font-family: "Lato", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
  overflow-x: none;
}

/* navigation */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--header-bg-color);
}

.brand-logo {
  display: flex;
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--header-text-color);
  padding-left: 1rem;
}

.logo {
  font-family: Nothing You Could do;
  font-weight: 900;
  font-size: 2rem;
}

/* hamburger */
.main-nav {
  padding-right: 1rem;
}

#nav-icon {
  position: relative;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#nav-icon span {
  position: absolute;
  width: 100%;
  height: 0.3rem;
  user-select: none;
  background-color: white;
  border-radius: 5rem;
}

#nav-icon span:nth-child(1) {
  top: 7px;
}
#nav-icon span:nth-child(2) {
  top: 23px;
}
#nav-icon span:nth-child(3) {
  top: 38px;
}

/* title */
.intro {
  white-space: nowrap;
  text-align: center;
  height: calc(40vh - 85px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.title h2 {
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: 1px;
}

/* overlay */
#overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(235, 184, 5, 255);
  transition: 0.5s;
}

#topics {
  width: 100%;
}

#overlay div a {
  display: flex;
  text-decoration: none;
  font-size: 4rem;
  color: white;
  justify-content: center;
}

#overlay div a:hover {
  transform: scale(1.15);
  color: black;
}

#close {
  color: white;
  top: 1.3rem;
  right: 3rem;
  position: absolute;
  font-size: 3rem;
  cursor: pointer;
}

#close:hover {
  color: black;
  transform: scale(1.15);
}


/* contact */
.footer {
  top: 0;
  left: 0;
  width: 100%;
  border-top: 0.1rem solid rgba(192, 192, 192, 0.5);
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0;
  font-family: "Lato", sans-serif;
  align-items: center;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  margin-top: 1rem;
}

.footer div {
  padding: 1rem 0;
  text-align: center;
}

.footer-logo {
  font-family: Nothing You Could do;
  font-weight: 900;
  font-size: 2rem;
}

.location {
  letter-spacing: 2px;
}

.follow-us p a {
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--header-text-color);
}

@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
  }
}
