*, *::before, *::after{
  background-color: #faf6ef;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.titleword {
  color: inherit;
  text-decoration: none;
  font-family: Nothing You Could Do;
  font-size: 180px;
  font-weight: bolder;
}
#navbar-title {
  letter-spacing: 3px;
  font-style: italic;
  font-size: 21px;
  padding-left: 2rem;
}
#nav-projects {
  text-align: right;
}
#dropdown-menu li a {
  text-align: right !important;
}
#nav-contacts {
  text-align: right;
}
#last-logo {
  font-family: Nothing You Could Do;
}