* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.titleword {
	color: inherit;
	text-decoration: none;
	font-family:Nothing You Could Do; 
	font-size: 180px; 
	font-weight: bolder;
}
#navbar-title {
	letter-spacing: 3px;
	font-style: italic;
}
#longfellow p {
	margin: 0;
	font-weight: 800;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.stanza-1 :last-child {
	text-indent: 5%;
	margin-bottom: 7px !important;
} 
#stanza-2 {
	font-style: italic;
}
#projects {
	border-width: 800px;
}
